In [1]:
#Importing Libraries 

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [2]:
data = pd.read_csv("Language Detection.csv")
data.head(10000)

                                                   Text Language
0      Nature, in the broadest sense, is the natural...  English
1     "Nature" can refer to the phenomena of the phy...  English
2     The study of nature is a large, if not the onl...  English
3     Although humans are part of nature, human acti...  English
4     [1] The word nature is borrowed from the Old F...  English
...                                                 ...      ...
9995  ಆದ್ದರಿಂದ ಮುಂದಿನ ಬಾರಿ ನೀವು ಸುದ್ದಿಯಲ್ಲಿ ಭಯಾನಕ ಕೃ...  Kannada
9996  ಟೀಕಿಸಿ ಮತ್ತು ಹೇಳಿ ಇದು ದೌರ್ಜನ್ಯದ ಕ್ರಿಯೆ ಸ್ಮಾರ್ಟ...  Kannada
9997  ಈಗ ನಾವು ಇಲ್ಲಿ ಅದ್ಭುತ ಪದವನ್ನು ಹೆಚ್ಚಾಗಿ ಬಳಸುತ್ತೇ...  Kannada
9998  ಸ್ಟುಪೆಂಡಸ್ ಪದವು ಶಾಸ್ತ್ರೀಯ ಲ್ಯಾಟಿನ್ ಬೇರುಗಳನ್ನು ...  Kannada
9999  ಆಶ್ಚರ್ಯಚಕಿತರಾಗಲು ಆಶ್ಚರ್ಯಕರವಾಗಿ ಉತ್ತಮವಾದದ್ದನ್ನು...  Kannada

[10000 rows x 2 columns]

In [3]:
data["Language"].value_counts()

English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Swedish        676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Sanskrit        16
Oriya           10
Marathi         10
Telugu           8
Punjabi          4
Name: Language, dtype: int64

In [7]:
data.isnull().sum()
data.dropna(inplace=True)
data.isnull().sum()

Text        0
Language    0
dtype: int64

In [8]:
x = np.array(data["Text"])
y = np.array(data["Language"])

cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9714119019836639

In [10]:
data[data['Language']=='Spanish']

                                                   Text Language
4813  Nature es una de las más prestigiosas revistas...  Spanish
4814  Su primer número fue publicado el 4 de noviemb...  Spanish
4815  [2]​ Con una periodicidad semanal, la revista ...  Spanish
4816  Nature tiene oficinas en Londres, Nueva York, ...  Spanish
4817  La editorial publica también varias revistas e...  Spanish
...                                                 ...      ...
5627                                       ¿Tiene ella?  Spanish
5628  Supongo que no querría más pan de oro ahora ¿e...  Spanish
5629  Terry, en realidad te pareces un poco a ese án...  Spanish
5630                              ¿Cómo pudiste ser él?  Spanish
5631                        Ustedes dos son tan amables  Spanish

[819 rows x 2 columns]

In [13]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: நான் கல்லூரி செல்லும் மாணவன்
['Tamil']